alias vssh="vagrant ssh -c \"cd $(pwd); exec ${SHELL:-sh}\""
alias vup="vagrant up"

tssh (){ ssh "$1" -t -- 'tmux -CC attach || tmux -CC' }
tssh-put-config (){scp ~/.dotfiles/.tmux.conf $1:~/}

alias refresh="source ~/.zshrc"

# Directories
alias dev="cd ~/Development"
alias emp="cd ~/Development/eventmatrix-platform"

# Git
alias fig="docker-compose"
