[user]
	name = Luke Waite
	email = lwaite@intouchinsight.com
[core]
	editor = vim
	excludesfile = /Users/lwaite/.gitignore_global
[push]
	default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[help]
	autocorrect = 10
[alias]
	exclude = !sh -c 'echo "$1" >> .git/info/exclude' -
    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\t=> \\2/' | sort
    ignore=!([ ! -e .gitignore ] && touch .gitignore) | echo $1 >>.gitignore
    cm  = commit -m
    cma = commit -a -m
    a = add
    master = checkout master
    amend = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend
